
  @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Navigation bar */
.banner {
  background-color: #1f2235;
  display: flex;
  width: 100%;
  height: 50px;
  margin: 0;
  border-bottom: 2px solid #232934;
}

.banner > .nav_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  padding: 3px;
  height: 20px;
  width: 80%;
}

a #logo {
  padding: 20px;
  cursor: pointer;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  list-style-type: none;
}

li > a {
  font-family:  'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  font-size: 20px;
  padding: 20px;
}

.links:hover {
  background-color: white;
  color: #1f2235;
}

/* Home page */

.home_page {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1f2235;
  height: 100vh;
  padding: 50px 150px;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 57px;
  color: white;
  width: 550px;
  letter-spacing: 10px;
  padding: 30px;
  margin-top: -60px;
  margin-bottom: -10px;
}

.my_name p {
  font-family:  'Roboto', sans-serif;
  font-size: 35px;
  color: white;
  margin: 0;
  letter-spacing: 10px;
  padding: 30px;
  margin-left: 10px;
  margin-top: 100px;
}

.my_name span {
  font-size: 25px;
  color: red;
  letter-spacing: 5px;
  padding: 30px;
  /* margin-top: 10px; */
}

.my_name button {
  margin: 50px;
  width: 200px;
  height: 50px;
  font-size: 20px;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 20px;
}

.my_name button:hover {
  color: white;
  background-color: #0169f6;
}


.details {
  display: flex;
  flex-direction: column;
  width: 70vw;
}

.news {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 500px;
  margin-top: 50px;
}

.client_no {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.client_no h2,
.award_no h2 {
  font-family: 'Lato', sans-serif;
  font-size: 50px;
  color: white;
  padding: 30px;
  margin-top: -10px;
}

.client_no h4,
.award_no h4 {
  font-family:  'Roboto', sans-serif;
  font-size: 30px;
  color: white;
  padding: 30px;
  margin-top: -100px;
}

.client_no p,
.award_no p {
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  font-style: italic;
  text-align: left;
  padding: 30px;
  color: white;
  margin-top: -80px;
  line-height: 40px;
}
.award_no {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.my_image img {
  object-fit: fill;
  height: 750px;
  margin-bottom: -65px;
  /* border: 2px solid red; */
}

/* About page styling */
.about_page {
  background-color: #ccd3db;
  margin-top: -20px;
}

.about_page h2 {
  font-size: 48px;
  font-family: 'Roboto', sans-serif;
  margin: 50px;

}

.about_page h5 {
  font-size: 20px;
  margin: 50px ;
  font-family: 'Roboto', sans-serif;
}

.about_page p {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  margin: 31px 327px 0 50px;
  
}

.skill_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 273px;
  margin: 50px;
}

